spring:
  application:
    name: orderHub_project

  profiles:
    active: local

  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST:localhost}:${POSTGRES_PORT:5432}/${POSTGRES_DB:orderhub}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true


server:
  port: 8081

logging:
  level:
    org.hibernate.sql: DEBUG
    root: info

management:

  info:
    env:
      enabled: true
    git:
      mode: full
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true

  endpoints:
  web:
    exposure:
      include:
        - health
        - info

info:
  app:
    name: "Order_Hub"
    version: "0.0.1"
    description: "Учимся писать продакшен код"



